# Env file for the accptance tests
#
# To run the tests with oc10 copy this file to test.oc10.env and to run the test with ocis copy this file to test.ocis.env
#
# and set the BACKEND_HOST to a correct value
# In order to run the federated test set REMOTE_BACKEND_HOST to correct value

# note: If you are running the tests on macOS, make sure to set the values to host.docker.internal

BACKEND_HOST=http://localhost:8080
REMOTE_BACKEND_HOST=http://localhost:8081